
* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; list-style: none;}

body {
 
     background:#0f0f0f;
}

header {
    background:#0f0f0f;
    background-image: url(../../images/sportsoul.jpg!w700wp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


header img { width: 100px;}
header h1 { align-self: center; }

nav ul li a { 
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(5,190px) 1fr;
    list-style: none;
}

nav a {
    display: grid;
    text-decoration: none;
    text-align: center;
    
}

nav a:hover {
    color: rgb(100, 10, 10);
}

main { 
    padding: 100px 0;
    display: flex;
    align-items: center;
}

section {
    padding: 2rem;
    margin-top: -50px;
}
section h2 {
    font-size: 40px;
    color: rgb(143, 1, 1);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    
}

section p {
    font-size: 20px;
    color: #818181;
    margin-bottom: 35px;
    text-align: start;
}

article img {
    width: 500px;
    display: block;
    margin: auto;
    
}

.one {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
    gap: 50px;
}
.dos{
    padding: 1rem 1rem;
    width: 600px;
    height: auto;
    border: #ff0606 solid 2px;
    box-shadow: 0 0 10px #ff0000;
}

article {
    border-radius: 1rem;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #040404; 
}
.logo {
    color: #A70A15;
    font-size: 25px;
    font-weight: 800;
}

.fra h2 {
    color: #A70A15;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: "Bungee Inline", sans-serif;
}

.fra p {
    color: aliceblue;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}
footer { 
    font-family: cursive;
    width: 100%;
    padding: 4rem;
    background: #2e1111;
    color: aliceblue;
    text-align: center;
}