* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; list-style: none;}

body {
 
     background:#0f0f0f;
}

header {
    background:#0f0f0f;
    background-image: url(../../images/sportsoul.jpg!w700wp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


header img { width: 100px;}
header h1 { align-self: center; }

nav ul li a { 
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(5,190px) 1fr;
    list-style: none;
}

nav a {
    display: grid;
    text-decoration: none;
    text-align: center;
    
}

nav a:hover {
    color: rgb(100, 10, 10);
}


aside {
    padding: 1rem 1rem;
    display: grid;
    justify-content: center;
}


section {
    padding: 1rem;
}
section h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

section p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
    text-align: start;
}

article img {
    width: 80%;
}

article {
    display: grid; 
    grid-template-columns: repeat(4fr, 1fr);
    grid-template-rows: (2fr,1fr);  
    margin: 1rem;
    border-radius: 1rem;
}

article img {
    width: 50%;
}

footer { 
    font-family: cursive;
    width: 100%;
    padding: 4rem;
    background: #2e1111;
    color: aliceblue;
    text-align: center;
}

.img_left {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.img_right {
grid-row: 1 / -1; grid-column: -2 / -1;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #040404; 
}
.logo {
    color: #A70A15;
    font-size: 25px;
    font-weight: 800;
}

.fra h2 {
    color: #A70A15;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.fra p {
    color: aliceblue;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

#uno {
   display: flex;
   justify-content: space-between;
   
}



#dos {
   display: flex;
   justify-content: space-between;
}

.tex {
    width: 25%;
    margin: 10px;
    text-align: center;
    background: #2e1111;
}
.tex img{
    width: 100%;
    height: auto;
}
.tex h2 {
    font-size: 16px;
    margin-top: 10px;
}
.tex2 {
    width: 25%;
    margin: 10px;
    text-align: center;
    background: #2e1111;
}
.tex2 img{
    width: 100%;
    height: auto;
}
.tex2 h2 {
    font-size: 16px;
    margin-top: 10px;
}
.formspree{
    color: white;
    width: 400px;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    background: #2e1111;
    border: red 1px solid;
    border-radius: red;
}
.formspree h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
}
.boton {
    width: 100%;
    background: rgb(49, 41, 41);
    border: 0;
    border-radius: 25px;
    color: white;
    font-family: fantasy;
    padding: 1rem;
}
.boton:hover {
    background: rgb(31, 7, 7);
}