*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {background: cyan;}
header h1 { align-self: center;}

nav {
    grid-column: 1 / -1;
    border: dotted rgb(0, 89, 255);
}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(5,190px) 1fr;
    list-style: none;
}

nav a {
    display: grid;
    border: solid blue;
    text-decoration: none;
    text-align: center;
    padding: .5rem 1rem;
}

nav a:hover {
    background: darkred;
    color: white;
}

section {
    display: grid;
    margin: 2rem;
    border: solid rebeccapurple;
}

#s_two {
    grid-template-columns: 1fr 1fr 1fr;
}

#s_three {
    grid-template-columns: repeat(4, 200px);
}

article {
    border: solid darkmagenta;
    border-radius: 1rem;
    height: 100px;
    width: 100px;
    font-size: 3rem;
}

#s_four {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#a_uno {
grid-column: 3/4;
grid-row: 4/5;    
}

#a_cinco {
    grid-column: 2/3;
    grid-row: 3/4;
}

#a_dos {
    grid-column: 4/5;
    grid-row: 2/3;
}
#a_tres {
    grid-column: 3/4;
    grid-row: 3/4;
}

#a_cuatro {
    grid-column: 1/2;
    grid-row: 4/5;
}
footer{background: burlywood;
    height: 50px;
    font-size: 1rem;
}