section {
    display: flex;
    background: rgb(255, 0, 255);
}

article {
    height: 100px;
    width: 100px;
    background: rgb(0, 255, 0);
}

section, article {
    border: solid 3px;
    margin: 1rem;
    border-radius: 1rem;
}

#izq {justify-content: flex-start;}
#der {justify-content: flex-end;}
#cen {justify-content: center;}
#bet {justify-content: space-between;}
#aro {justify-content: space-around;}
#eve {justify-content: space-evenly;}

body {
    background: purple;
    padding: 1rem;
}